{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:400%;">
<div>
    <h1>Wanderlust Registration Page</h1>
    <br>
    <br>
    <h4>Complete the Information Below to Register for Wanderlust</h4>
        <div class="form-group">CLICK HERE TO REGISTER FOR A WANDERLUST ACCOUNT</div>
        <div class="form-group">CLICK HERE TO LOGIN TO YOUR WANDERLUST ACCOUNT</div>
        <div class="form-group">CLICK HERE TO USE WANDERLUST WITHOUT LOGGING IN</div>
{% endblock %}