<!DOCTYPE html>
<head>
    <title>Wanderlust</title>
<link href="css/bootstrap.min.css" rel="stylesheet" href="/static/css/homepage.css">
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"/>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
<title>Wanderlust Homepage</title>
</head>

<body>
<div class="site-wrapper">
    <div class="site-wrapper-inner">

        <div id="bg">
            <img src="/static/img/mapancient.jpg" alt="">
        </div>

        <!-- <h1>Welcome to Wanderlust.</h1>

        <a href="/register" class="btn btn-lg btn-primary">Register</a>
        <a href="/login" class="btn btn-lg btn-primary">Login</a>
        <a href="/" class="btn btn-lg btn-primary">Get Started</a> -->
    </div>
</div>
</body>
</html>
