{% extends 'base.html' %}
{% block head %}

<style type="text/css">
body {
  height: 100%;
    width: 100%;
    background:url("/static/img/theworldbelow.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: fixed;
}
</style>
<style>
#heading { 
  opacity: 1;
  color: white; 
}
</style>
<style type="text/css">
.navbar {
    color:  white;
}

a {
    color: white;
}

.navbar-brand:hover {
    background-color: #ECEBEB;
}

#traveler1_max_price, #traveler2_max_price, #traveler1_origin, #traveler2_origin {
    margin-top: 5px;
} 

.blue {
    background-color: #5bc0de;
    color: white;
    padding: 20px;
}

#submit_button {
    margin-top: 10px;
}
</style>

{% endblock %}
{% block content %}    
    <div class="container-fluid">
        <div class="row">
            <div id="heading">
                <h1>Welcome to Wanderlust!</h1>
                <h3>To see where Wanderlust can take you<br>fill out the details below for you and your travel partner.</h3>
            </div>
            <div class="col-md-4 col-md-offset-4">

                <!-- <div class="form-group"> -->
                    <form action = "/search_results" method="POST">      
                        <div class="blue">
                            <label>Traveler #1 Name Origin City and Max Budget</label>
                            <input type="text" name="traveler1_name" id="traveler1_name" class="form-control" placeholder="Traveler #1" value="Zoë">
                            <select class="form-control" name="traveler1_origin" id="traveler1_origin" required> 
                                <ul class="dropdown-menu">   
                                    <li><option value="">Traveler #1's Departure City:</option></li>    
                                    <li><option value="ATL">Atlanta, Georgia</option></li>    
                                    <li><option value="BOS">Boston, Massachusetts</option></li>  
                                    <li><option value="ORD">Chicago, Illinois</option></li> 
                                    <li><option value="DFW">Dallas, Texas</option></li>  
                                    <li><option value="DEN">Denver, Colorado</option></li> 
                                    <li><option value="LAS">Las Vegas, Nevada</option></li>   
                                    <li><option value="LAX">Los Angeles, California</option></li>  
                                    <li><option value="MIA">Miami, Florida</option></li>    
                                    <li><option value="JFK">New York, New York</option></li>   
                                    <li><option value="PHX">Phoenix, Arizona</option></li>
                                    <li><option value="SFO">San Francisco, California</option></li>
                                    <li><option value="SEA">Seattle, Washington</option></li> 
                                    <li><option value="IAD">Washington, DC</option></li>   
                                </ul>
                            </select>
                            <input type="number" name="traveler1_max_price" id="traveler1_max_price" class="form-control" placeholder="Traveler #1 Max Budget" value="850">
                        </div>
                            
                    

                        <div class="blue">    
                            <label>Traveler #2 Name, Origin City, and Max Budget</label>
                            <input type="text" name="traveler2_name" id="traveler2_name" class="form-control" placeholder="Traveler #1" value="Jean-Michel">
                            <select class="form-control" name="traveler2_origin" id="traveler2_origin" required> 
                                <ul class="dropdown-menu">   
                                    <li><option value="">Traveler #2's Departure City:</option></li>    
                                    <li><option value="ATL">Atlanta, Georgia</option></li>    
                                    <li><option value="DEN">Denver, Colorado</option></li> 
                                    <li><option value="BOS">Boston, Massachusetts</option></li>  
                                    <li><option value="ORD">Chicago, Illinois</option></li> 
                                    <li><option value="DFW">Dallas, Texas</option></li>  
                                    <li><option value="LAS">Las Vegas, Nevada</option></li>   
                                    <li><option value="LAX">Los Angeles, California</option></li>  
                                    <li><option value="MIA">Miami, Florida</option></li>    
                                    <li><option value="JFK">New York, New York</option></li>   
                                    <li><option value="PHX">Phoenix, Arizona</option></li>
                                    <li><option value="SFO">San Francisco, California</option></li>
                                    <li><option value="SEA">Seattle, Washington</option></li> 
                                    <li><option value="IAD">Washington, DC</option></li>   
                                </ul>
                            </select> 
                            <input type="number" name="traveler2_max_price" id="traveler2_max_price" class="form-control" placeholder="Traveler #1 Max Budget" value="800">
                        </div>
                 
            
                         <div class="blue">    
                            <label>Where Will Your Wanderlust Lead You Next?</label>
                            <select class="form-control" name="destination" id="destination" required> 
                                <ul class="dropdown-menu">   
                                    <li><option value=""></option></li>
                                    <li><option value="">Destinations in the United States:</option></li>     
                                    <li><option value="ATL">Atlanta, Georgia</option></li>    
                                    <li><option value="BOS">Boston, Massachusetts</option></li>  
                                    <li><option value="ORD">Chicago, Illinois</option></li> 
                                    <li><option value="DFW">Dallas, Texas</option></li>  
                                    <li><option value="DEN">Denver, Colorado</option></li> 
                                    <li><option value="LAS">Las Vegas, Nevada</option></li>   
                                    <li><option value="LAX">Los Angeles, California</option></li>
                                    <li><option value="OGG">Maui, Hawaii</option></li>  
                                    <li><option value="MIA">Miami, Florida</option></li>    
                                    <li><option value="JFK">New York, New York</option></li>   
                                    <li><option value="PHX">Phoenix, Arizona</option></li>
                                    <li><option value="SFO">San Francisco, California</option></li>
                                    <li><option value="SEA">Seattle, Washington</option></li> 
                                    <li><option value="IAD">Washington, DC</option></li> 
                                    <li><option value=""> </option></li>
                                    <li><option value="">Destinations Abroad:</option></li>  
                                    <li><option value="AMS">Amsterdam, The Netherlands</option></li>
                                    <li><option value="PEK">Beijing, China</option></li> 
                                    <li><option value="TXL">Berlin, Germany</option></li> 
                                    <li><option value="EZE">Buenos Aires, Argentina</option></li>
                                    <li><option value="CUN">Cancun, Mexico</option></li> 
                                    <li><option value="CPT">Cape Town, South Africa</option></li>
                                    <li><option value="CPH">Cophenhagen, Denmark</option></li>
                                    <li><option value="DXB">Dubai, United Arab Emirates</option></li> 
                                    <li><option value="DUB">Dublin, Ireland</option></li>
                                    <li><option value="SGN">Ho Chi Minh City, Vietnam</option></li>  
                                    <li><option value="IST">Istanbul, Turkey</option></li>                   
                                    <li><option value="MAD">Madrid, Spain</option></li> 
                                    <li><option value="RAK">Marrakech, Morocco</option></li> 
                                    <li><option value="MBJ">Montego Bay, Jamaica</option></li>
                                    <li><option value="YUL">Montreal, Quebec, Canada</option></li>
                                    <li><option value="KUL">Kuala Lumpur, Malaysia</option></li>
                                    <li><option value="LHR">London, England</option></li>
                                    <li><option value="LIS">Lisbon, Portugal</option></li>
                                    <li><option value="CDG">Paris, France</option></li>
                                    <li><option value="GIG">Rio de Janeiro, Brazil</option></li>
                                    <li><option value="FCO">Rome, Italy</option></li>
                                    <li><option value="SJU">San Juan, Puerto Rico</option></li>      
                                    <li><option value="SYD">Sydney, Australia</option></li>
                                    <li><option value="HND">Tokyo, Japan</option></li>
                                    <li><option value="YYZ">Toronto, Ontario, Canada</option></li>        
                                    <li><option value="YVR">Vancouver, British Columbia, Canada</option></li>
                                </ul>
                            </select>         
                        </div>        
                        <div class="blue">
                            <label>Departure Date<input type="date" name="departure_date" id="departure_date" value="2015-09-02" class="form-control" required></label>
                            <label>Return Date<input type="date" name="return_date" id="return_date" value="2015-09-16" class="form-control" required></label>
                        </div>
                        <input id="submit_button" type="submit" value="Ready. Set. Jet!" class="btn btn-info btn-lg"> 
                    </form>
                <!-- </div> -->
            </div>
        </div> 
    </div>

{% endblock %}