{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:100%;">
<div>
    <h1>Wanderlust Registration Page</h1>
    <br>
    <br>
    <h4>Complete the Information Below to Register for Wanderlust</h4>
    <form action= "/register" method="POST">
        <div class="form-group">
            <label>First Name:
                <input type="name" name="firstname" required class="form-control">
            </label>
            <label>Last Name:
                <input type="name" name="lastname" required class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>Email:
                <input type="email" name="email" required class="form-control">
            </label>
        </div>
        <div class="form-group">
            <label>Password:
                <input type="password" name="password" required class="form-control">
            </label>
        </div>

        <div class="form-group">
            <input type="submit" value="Register for Wanderlust" class="btn btn-danger">
        </div>

    </form>
</div>
</div>
{% endblock %}